---
layout: frontal
title: small data Journalism
is_homepage: true
photo_url: "http://www.flickr.com/photos/zokuga/9223081499/in/photostream/"
---
  <div id="logo" class="box-shadow">
      <div class="sdj">
        <div class="container article-constraint">
          <h1 class="">small data</h1>
        </div>
      </div>
    <div class="container article-constraint">
      <h1><span class="serif">Journalism</span></h1>
    
      <p class="tagline">
        The smaller the data, the bigger the story.
        <span class="byline">Edited by Dan Nguyen 
          // <a href="https://twitter.com/dancow">@dancow</a>
        </span>
        
      </p>

    </div>  
  </div>
{% include nav.html %}
<article>

<div class="container">

  
    
   <p>
    <i>small data Journalism</i> was created to accomodate the <a href="/class">Fall 2013 Data Journalism course</a> at New York University's School of Continuing and Professional Studies.</p> 

  <p>
    I wanted my students to have a convenient place to find course-related information, data files, and guides. Since the course aims to take a practical and generalized approach to data journalism, there's no reason not to open it to the world. And since <a href="https://github.com/{{site.github_repo}}">it's on Github</a>, feel free to submit fixes, suggestions, and criticism. 
   </p>

  <p>There's not much info here except for a <a href="/readings">list of readings</a> and the <a href="/class">class syllabus</a>, but I'll update it throughout the session (and afterwards). You can read more about the authorship and technical details behind this book in the <a href="/about">About section</a>.</p>

  
<div class="article-constraint">  {% include tweet-this.html %}</div>

</div>


<section id="table_of_contents">
  <div class="banner">
    <div class="container">
      <h2>Contents</h2>  
    </div>
  </div>


  <div class="container">
    <section class="article">
    
    <h5><a href="/about">Introduction</a></h5>
    <p>The philosophy and approach of <em>small data Journalism</em> toward data journalism.</p>
    </section>
  
    <section class="article">
    <h5><a href="/class">Syllabus for Data Journalism, Fall 2013</a> at NYU-SCPS</h5>
    <p>Course information and tentative classwork and assignments</p>
    </section>
  
  
    <section class="article">
    <h5><a href="/readings">Suggested readings on data journalism</a></h5>
    <p>A by-no-means-complete list of guides, articles, and books related to data journalism. Will be updated and reorganized frequently.</p>
    </section>


  <p>
    If you're interested in taking my <a href="/class">Fall 2013 Data Journalism class</a>, you can sign up here:
  </p>

  <div class="article-constraint">

      <button type="button" class="btn btn-default btn-lg"><a href="http://www.scps.nyu.edu/content/scps/academics/course_detail.html?id=WRIT1-CE9787">Sign up</a></button>
  </div>


  </div>



</section>





</article>