<footer class="woz">

  <div class="container">

          <div class="contact">
                  <p>
                    <a href="http://danwin.com">Dan Nguyen</a><br />
                    NYU Adjunct Instructor<br />
                    dan@danwin.com
                  </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/dannguyen/">github.com/dannguyen</a><br />
              <a href="https://twitter.com/dancow/">@dancow</a><br />
            </p>
          </div>


  <ul>
    <li><a href="https://github.com/dannguyen/smalldata_journalism">Github</a></li>
    <li><a href="http://www.scps.nyu.edu/content/scps/academics/course_detail.html?id=WRIT1-CE9787#sectionBlock">Course Signup</a></li>
  </ul>


  </div>
</footer>