
<div class="container">
  <div class="standout"><a href="#">Back to top</a></div>
</div>

<footer class="woz">

  <div class="container">
    <div class="row">
    <div class="col-lg-2">

      <h4>small data Journalism</h4>
      <p>The official homepage for <a href="/class">NYU-SCPS Data Journalism, Fall 2013</a>, and a public resource for practical data journalism.</p>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/class">WRIT1-CE9787 Course Info</a></li>
        <li><a href="/#table_of_contents">Contents</a></li>
        <li><a href="/blog">News</a></li>
        <li><a href="/readings">Reading list</a></li>

        <li><a href="https://github.com/{{site.github_repo}}">Github Repo</a></li>
      </ul>

                 {% include tweet-this.html %}

    </div>

    <div class="col-lg-2">
      <h4>About Dan Nguyen</h4>
      <p>I'm a journalist/programmer and the Head of Data at <a href="http://skift.com">Skift</a>. I'm also teaching a <a href="/class">Data Journalism class</a> at NYU-SCPS in Fall 2013.  </p>


      <p>Here's my personal contact info:</p>
      <ul>
        <li><a href="http://danwin.com">Blog</a></li>
        <li><a href="https://twitter.com/dancow">Twitter</a></li>
        <li><a href="https://github.com/dannguyen">Github</a></li>
        <li><a href="http://flickr.com/photos/zokuga">Flickr</a></li>
        <li><a href="mailto:dan@danwin.com">Email</a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>

{% javascript app %}

{% include twitter-sharing.html %}
{% include google-analytics.html %}
