<footer class="woz">

  <div class="container">

          <div class="contact">
                  <p>
                    <a href="http://danwin.com">Dan Nguyen</a><br />
                    NYU Adjunct Instructor<br />
                    dan@danwin.com
                  </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/dannguyen/">github.com/dannguyen</a><br />
              <a href="https://twitter.com/dancow/">@dancow</a><br />
            </p>
          </div>
  </div>
</footer>