<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | 
          {% if page.is_homepage != true %}
            small data Journalism 
          {% else %}
            A compendium of practical data journalism lessons.
          {% endif %}
        </title>
        <meta name="viewport" content="width=device-width">
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400italic,400,700' rel='stylesheet' type='text/css'>


   <meta property="og:image" content="http://www.smalldatajournalism.com/images/sdj.jpg" />
   <meta property="og:title" content="small data Journalism - the homepage for NYU-SCPS Data Journalism, Fall 2013" />
   <meta property="og:site_name" content="small data Journalism" />
   <meta property="og:type" content="blog" />





<!-- <script src="http://d3js.org/d3.v3.js"></script> -->

  {% javascript vendor/d3.v3.js %}
  {% stylesheet app %}
</head>