 <div class="navbar navbar-inverse woz" role="navigation">
  <div class="container">
  <div class="article-constraint">
    <div class="cl-effect-13">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>      
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if page.layout != 'frontal' %}
          <li><a href="/">small data Journalism</a></li>
          {% endif %}
          <li><a href="/#table_of_contents">Contents</a></li>          
          <li><a href="/about">About</a></li>
          <li><a href="/blog">News</a></li>
          <li><a href="/class">WRIT1-CE9787</a></li>

        </ul>
      </div><!--/.navbar-collapse -->
    </div>
</div>
  </div><!--container-->

</div>
