@import "my-variables";


img, video{  
  max-width: 100%;
  margin-left: auto; margin-right: auto;
  display: block;
}

table{
  width: 100%;
}

.chart{ 
  max-width: 100%;
  margin-left: auto; margin-right: auto;
  text-align: center;
  svg{
    margin-left: auto; margin-right: auto;
    text-align: left;
  }
}

p, li{
  code{
    color: #c44;
    background: none;
    border: none;
    font-size: 1.0em;
  }
}

.image-credit{
  font-style: italic;
}


article blockquote {
  cite {
    font-style: italic;
    a { word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} }
  }
}


article.page{ 
  ol, li{
    margin-top: 1.0em
  }

  li{
    @include sansserif();
    @media (min-width: $screen-sm) {
      margin-bottom: 0.5em;   
    }

    ul,ol{
      margin-top: 0.5em;
    }
  }

  img{
    margin-bottom: 2.0em;
    border: thin solid #777;
  }

}



.banner {

  padding-top:    1.0em;
  padding-bottom: 1.0em;
  margin-bottom:  1.0em;
  background-color: $banner-background;

  margin-top: 2.0em;

  h1,h2,h3{
    margin-top: 0.5em;
  }
 
  .container & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  @media screen and (min-width: $screen-tablet) {
    .container & {
      padding-left:  ($jumbotron-padding * 2);
      padding-right: ($jumbotron-padding * 2);
    }
  }
}

.content.woz{
  min-height: 500px;
}

footer.woz{
  background:black;
  color: white;
  margin-top: 2.3em;
  padding-top: 3.0em;
  padding-bottom: 4.5em;

  h1,h2,h3,h4,h5,h6,ul,li,p{
    color: #D9D9D9;
  }
}

header.banner{
  margin-top: 0em;

  .tagline{
  }
}

header.banner.image{
   .banner-box{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
  }


  .text{
      position: relative;
      text-shadow: 0.1em 0.2em 0.4em #000;

      .tagline{
        color: #fff;
      }
    }
}



#markdown-toc{
  border-bottom: $borderline;
  margin-top: 0;
  margin-bottom: 1.0em; 
  padding-bottom: 1.0em;
  
  li{ margin-bottom: 2px; margin-top: 2px; font-size: 15px; }
}

h3.no_toc{
  margin-bottom: 0px;
}



.project-manifest{
  border-top: $borderline;
  margin-top: 1.5em;
  padding-top: 1.0em;

  border-bottom: $borderline;
  margin-bottom: 1.0em;
  padding-bottom: 1.0em;

  a.present{
    color: $text-color;
    font-weight: bold;
  }

}


/* smaller than an iPad */

@media (max-width: $screen-tablet) {
  header.banner.image{

    h1{
      color: white;
    }
    background-size: 100% auto;
    background-repeat: no-repeat;


    .banner-box{
      position: static;
      text-align: center;
      width: 100%;
    }


    .text{
      position: static;
    }

  }

}



/* BIGGER THAN AN IPAD */
@media (min-width: $screen-tablet) {
  header.banner.image{
    background: black;
    background-size: auto $header-banner-size;
    background-repeat: no-repeat;
    background-position:right; 
    height: $header-banner-size;
    position: relative;

    h1{
      color: white;
    }

    .text{
        position: relative;
        bottom: 10px;

        text-shadow: 0.4em 0.4em 1.0em #000;

    }
  }

  #logo{
    border-bottom: thin solid #333;
    padding-bottom: 1.0em; 

    h1{
      text-align: justify;
      color: #222;
      font-size: ($font-size-base * 4.5);    
      line-height: 1;
      margin-bottom: 1px;
      margin-top: 1px;
    }
    
    .sdj{
      /* this is double defined...here, and in the index.html for front page */
      background: url(/images/headers/rain-room.jpg);
      background-repeat:no-repeat;
      background-position:right; 

      background-color: black;
      padding-top: 300px;

      h1{
        color: white;
        font-family: $font-family-display;
      }
    }
    .tagline{
      margin-top: 1.0em;
      margin-bottom: 0.5em;
    }
  }
}




/************ bespoke stuff  **/

#table_of_contents{
  h1,h2,h3, h5{
    font-family: $font-family-display;
  }
}


table.references{


  
  font-family: $font-family-sans-serif;
  font-size: 14px;

  th{
    cursor: pointer;
  }

  td{
    padding: 10px;
  }
  td.title-desc{
    max-width: 600px;
    min-width: 500px;
    .title{
      font-family: $font-family-serif;
      font-size: 16px;
    }
    .description{
      font-size: 13px;
    }
  }  
}

ul.references{

    list-style: none;
    padding: 1.0em;

    margin-left: 0;
  li{
    font-size: 15px;
    line-height: 1.4em;

    width: 30%;
    padding: 12px;
    margin: 0.5%;
    font-family: $font-family-serif;
    margin-bottom: 40px;
    list-style: none;
    background: $well-bg;
    

    .imgwrap{
      border: $borderline;
      overflow: hidden;
      width: 100%;
      text-align: center;
      height: 200px;
      margin-bottom: 5px;

      img{
        margin-left: auto;
        margin-right: auto;
        height: 100%;
      }    
    }



    .content-type{
      font-size: smaller;
      font-style:italic;
      .medium{
        color: #566;
      }    
      .category{
        color: #566;

      }

    }

    .title{
      font-size: 1.0em;
      
    }

    .description{
      font-family: $font-family-sans-serif;
    }
    .author{
      font-size: smaller;
      .name{
        font-weight: bold
      }
    }

    .host{
      font-style: normal;
    }
  }
}


/* for post listing */
.posts h4{
  font-family: $font-family-display;
  
}


.standout{
  @include article-constraint();
  font-family: $font-family-sans-serif;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

/* for use in special lesson*/
.special-sb{
  color: SteelBlue;
}

.special-fer{
  height: 1px;
  width: 1px;
  background:url(/images/projects/inspect-the-web/other/ferret.jpg);
}


