@import "vendor/bootstrap/variables";

$header-banner-size: 300px;


.content.woz{
  min-height: 500px;
}

footer.woz{
  background:black;
  color: white;
  margin-top: 2.0em;
  padding-top: 2.0em;
  padding-bottom: 1.5em;

  p{
    color: white;
  }
}




header.banner{
  .description{
    font-style:italic;
  }
}

header.banner.image{
  .text{
      text-shadow: 0.1em 0.1em 0.4em #000;
      .description{
        color: #ccc;
      }
    }
}

@media (min-width: $screen-xs) {
  header.banner.image{
    background: black;
    background-size: auto $header-banner-size;
    background-repeat: no-repeat;
    background-position:right; 
    height: $header-banner-size;
    position: relative;

    h1{
      color: white;
    }

    .text{
        position: absolute;
        bottom: 10px;
    }
  }



  #logo{
    border-bottom: thin solid #333;
    padding-bottom: 1.0em; 

    h1{
      font-size: ($font-size-base * 4.5);    
      line-height: 1;
      margin-bottom: 1px;
      margin-top: 1px;
    }
    
    .sdj{
      background: url(asset_path('front-header.jpg'));
      background-repeat:no-repeat;
      background-position:right; 

      background-color: black;
      padding-top: 300px;

      h1{
        color: white;
        font-family: $font-family-display;
      }
    }
    .tagline{
      margin-top: 1.0em;
      margin-bottom: 0.5em;
    }
  }
}

