@import "vendor/mini-boot/variables";
@import "my-variables";

#table_of_contents{
  h1,h2,h3{
    font-family: $font-family-display;
  }
}


ul.references{

    list-style: none;
    padding-left: 0;
    margin-left: 0;
  li{
    margin-bottom: 0.8em;
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    .type{
      font-family: $font-family-display;
      color: #a99;
    }

    .title{
      
    }

    .description{
      
    }
    .author{
      font-size: smaller;
      font-style: italic;
    }

    .host{
      font-style: normal;
    }
  }
}

.standout{
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}






