$header-banner-size: 300px;
$boxshadow: 1px 1px 1px 1px #ccc;


$default_background_image:    asset_path('tiny_grid_@2X.png');
$headings-color: #292929;
$navbar-font-size: 14px;
$line-height-base:        1.6 !default; // 20/14


.box-shadow{
-moz-box-shadow: $boxshadow;
-webkit-box-shadow: $boxshadow;
box-shadow: $boxshadow;
}
