$header-banner-size: 300px;
$boxshadow: 1px 1px 1px 1px #ccc;


$default_background_image:    asset_path('tiny_grid_@2X.png');
$navbar-font-size: 14px;



.box-shadow{
-moz-box-shadow: $boxshadow;
-webkit-box-shadow: $boxshadow;
box-shadow: $boxshadow;
}
