@import "vendor/mini-boot/variables";
@import "vendor/mini-boot/mixins";


$header-banner-size: 300px;
$small-header-banner-size: 200px;
$boxshadow: 1px 1px 1px 1px #ccc;


$default_background_image:    asset_path('tiny_grid_@2X.png');
$navbar-font-size: 14px;

$banner-background: rgba(211, 222, 233, 0.39);

$borderline: thin solid #999;

.box-shadow{
-moz-box-shadow: $boxshadow;
-webkit-box-shadow: $boxshadow;
box-shadow: $boxshadow;
}


