---
layout: default
---

{% unless page.header == false %}
{% include header.html %}
{% endunless %}

{% unless page.banner == false %}
 {% include page_banner.html %}
{% endunless %}


<article class="{% unless page.is_homepage == true %}page{%endunless%}">


{% if page.guff %} 
<div class="container">
    <section class="guff">
      <p>{{ page.guff }}</p>
    </section>    
</div>
{% endif%}


{% unless page.container == false %}
<div class="container">
{% endunless %}

  {{ content }}

{% unless page.container == false %}
</div>
{% endunless %}


{% if page.header_image_caption %}
<div class="container standout">
  <p class="image-credit"> Header image credit:
  {% if page.header_image_source %}
    <a href="{{page.header_image_source}}">
  {% endif %}   

    {{ page.header_image_caption }}

  {% if page.header_image_source %}
    </a>
  {% endif %}   
  </p>
  
  <a href="{{page.header_image_source}}">
  <img src="/images/headers/{{ page.header_image }}" alt="{{page.header_image_caption}}" />
  </a>

</div>
{% endif %}


</article>