---
layout: page
---
<div class="standout">
{% assign project = page.project_object %}

{% if page.project_order == 'introduction'  %}
  
  A {{project.size}}-part series.

{% elsif page.project_order == 'conclusion' %}

  The conclusion to <a href="{{ project.url}}">{{project.title}}</a>

{% else %}

 <strong>Part {{page.project_order}} of {{project.size }}-part project:</strong>   
  <a href="{{ project.url}}">{{project.title}}</a>

 {% if page.project_order > 1 %}
 <br>
 <strong>Previously:</strong> <a href="{{ page.prev_page.url }}">{{page.prev_page.title}}</a>
 {% endif %}


{% endif %}
</div>



{{ content }}


<div class="standout">
<!-- moving to prev page -->
{% if page.prev_page %}
  <strong>Previous:</strong> <a href="{{ page.prev_page.url}}">
  {{ page.prev_page.title }}</a>
  <br>
{% endif %}

<!-- moving to next page -->

{% if page.next_page %}
  <strong>Next:</strong> <a href="{{ page.next_page.url}}">
  {{ page.next_page.title}}</a>
{% endif %}

</div>




