---
layout: page
---

<!-- note: everything is by default in page container -->

<div class="standout">
{% assign project = page.project_object %}

{% if page.project_order == 'introduction'  %}
  
  <p>A {{project.size}}-part series.</p>

{% elsif page.project_order == 'conclusion' %}

  <p>The conclusion to <a href="{{ project.url}}">{{project.title}}</a></p>

{% else %}

 <p>
  <strong>Part {{page.project_order}}</strong> of <a href="{{ project.url}}">{{project.title}}</a>, a {{project.size }}-part series.  

 {% if page.project_order > 1 %}

<strong>Previously:</strong> <a href="{{ page.prev_page.url }}">{{page.prev_page.title}}</a>

 {% endif %}

</p> 
{% endif %}
</div>



{{ content }}


<div class="standout">

<!-- prev/next -->
<p>
<!-- moving to prev page -->
{% if page.prev_page %}
  <strong>Previous:</strong> <a href="{{ page.prev_page.url}}">
  {{ page.prev_page.title }}</a>
  <br>
{% endif %}

<!-- moving to next page -->

{% if page.next_page %}
  <strong>Next:</strong> <a href="{{ page.next_page.url}}">
  {{ page.next_page.title}}</a>
{% endif %}

</p>



<div class="project-manifest">




<h2>Project Manifest</h2>

{% project_manifest %}

</div>



</div>




