---
layout: page
---
<div class="standout">
{% assign project = page.project_object %}

{% if page.project_order == 'introduction'  %}
  
  <p>A {{project.size}}-part series.</p>

{% elsif page.project_order == 'conclusion' %}

  <p>The conclusion to <a href="{{ project.url}}">{{project.title}}</a></p>

{% else %}

 <p><strong>Part {{page.project_order}} of <a href="{{ project.url}}">{{project.title}}</a>, a {{project.size }}-part series.</strong>   
   </p>

 {% if page.project_order > 1 %}
<p> <strong>Previously:</strong> <a href="{{ page.prev_page.url }}">{{page.prev_page.title}}</a>
 </p> {% endif %}


{% endif %}
</div>



{{ content }}


<div class="standout">

<p>
<!-- moving to prev page -->
{% if page.prev_page %}

  <strong>Previous:</strong> <a href="{{ page.prev_page.url}}">
  {{ page.prev_page.title }}</a>
  <br>
{% endif %}

<!-- moving to next page -->

{% if page.next_page %}
  <strong>Next:</strong> <a href="{{ page.next_page.url}}">
  {{ page.next_page.title}}</a>
{% endif %}

</p>
</div>




